<div class="items index">
  <h2>Items</h2>

  <%= link_to("Add New item", new_item_path, :class => 'action new') %>

  <table class="listing" summary="item list">
    <tr class="header">
      <th>Item</th>
      <th>Actions</th>
    </tr>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td class="actions">
        <%= link_to("Show", item_path(item), :class => 'action show') %>
        <%= link_to("Edit", edit_item_path(item), :class => 'action edit') %>
        <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
