<%= link_to("<< Back to List", categories_path, :class => 'back-link') %>

<div class="categories delete">
  <h2>Delete Category</h2>

  <%= form_for(@category, :method => 'delete') do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <p>Are you sure you ?</p>
    <p><%= @category.name %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Category") %>
    </div>

  <% end %>
</div>
