<div class="categories index">
  <h2>Categories</h2>

  <%= link_to("Add New category", new_category_path, :class => 'action new') %>

  <table class="listing" summary="category list">
    <tr class="header">
      <th>Category</th>
      <th>Actions</th>
    </tr>
    <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td class="actions">
        <%= link_to("Show", category_path(category), :class => 'action show') %>
        <%= link_to("Edit", edit_category_path(category), :class => 'action edit') %>
        <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
